body{

    background-image: url(imagen1.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0%;
}
form{
    width: absolute;
    margin: auto;
    background: rgba(0, 0, 0, 0.308);
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}
h1{

    font-size: 30px;
    margin-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;


}
.caja{

    width: 300px;
    margin: auto;
    position: relative;
    
   


}
.contenedor{

    display: flex;
    justify-content: space-around;
        

}

.cajita{
    
    position: relative;
    margin: 4px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    background: #050007;
    font-family: consolas;
    
    
    
   
 }
.cajita2{
    
    position: relative;
    margin: 4px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    background: #050007;
    font-family: consolas;
    
   
}
.Refresh{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;

}
.Refresh:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;

}
.Refresh span{
    position: center;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}
.Refresh:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}
.Refresh:hover #span3{
    left: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}
.Refresh:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}
.Refresh:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.Volver{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;

}
.Volver:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;

}
.Volver span{
    position: center;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}
.Volver:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}
.Volver:hover #span3{
    left: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}
.Volver:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}
.Volver:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}